.allgame .list {
  margin-top: 10px;
  min-height: 500px;
  margin-bottom: 50px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
  justify-content: start;
}
.allgame .list.gapfix {
  gap: 20px 5px;
}

.allgame .list .game {
  min-width: 255px;
  height: 300px;
  flex-grow: 1;
  max-width: 800px;
  /* background-color: var(--primary); */
  /* padding: 8px; */
  cursor: pointer;
}

.allgame .list .game .img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
  object-position: top;
}

.allgame .list .game .name {
  font-size: 18px;
  letter-spacing: 0.8px;
  padding-left: 4px;
  margin-top: 0px;
  min-height: 50px;
  font-weight: 300;
}

.allgame .list .game .name.skeleton{
    margin-top: 4px;
}

.allgame .list .game.hide-bg {
  background-color: transparent;
}

.allgame .list .game:hover img {
  /* transform: scale(1.002); */
  filter: brightness(0.8);
}

/* FILTER  */

.allgame .filter {
  display: flex;
  gap: 30px;
  padding-left: 30px;
  width: 100%;
  height: 45px;
  margin-top: 50px;
}

.allgame .filter .bar {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
/* 
.allgame .filter .bar:hover p,
.allgame .filter .bar:hover .icon{
    color: var(--text_8);
    
} */

.allgame .filter .bar p {
  color: var(--text_7);
  font-size: 15.4px;
  display: flex;
  align-items: center;
}

.allgame .filter .bar .icon {
  margin-top: 16.5px;
  margin-left: 3px;
  font-size: 12.8px;
}

.allgame .filter .bar.search {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

.allgame .filter .bar.search input {
  border: none;
  outline: none;
  background-color: var(--secondary_3);
  letter-spacing: 0.5px;
  padding-left: 17px;
  width: 300px;
  color: var(--text_10);
  font-size: 15px;
  border: 2px solid transparent;
  transition: 0.3s;
  border-radius: 50px;
}

.allgame .filter .bar.search input::placeholder {
  color: var(--text_7);
}

.allgame .filter .bar select {
  background-color: transparent;
  color: var(--text_7);
  font-size: 15px;
  border: transparent;
  cursor: pointer;
  outline: transparent;
  transition: 0.3s;
}
.allgame .filter .bar select:hover {
  color: var(--text_8);
}

.allgame .filter .bar.platforms select {
  width: 90px;
}
.allgame .filter .bar.genres select {
  width: 75px;
}

.allgame .filter .bar select:focus {
  transition: 0.3s;
  color: var(--text_8);
}

.allgame .filter .bar select option {
  /* color: var(--text_7); */
  height: 100px;
  background-color: var(--secondary_3);
}

.allgame .empty-data{
  padding-left: 30px;
  padding-top: 30px;
}
.allgame .empty-data P{
  color:  var(--text_7);
}

/* ------RESPONSIVE------- */

@media screen and (max-width: 768px) {
  .allgame .filter {
    padding: 0;
    border: 1px solid white;
    height: fit-content;
    min-height: 45px;
  }

  .allgame .filter .bar.search {
    padding-right: 0;
  }
  .allgame .filter .bar.search input {
    width: 200px;
  }
}

@media screen and (max-width: 610px) {
  .allgame .filter .bar.search input {
    width: 170px;
  }
}

@media screen and (max-width: 576px) {
  .allgame .list {
    padding: 0 20px;
  }
  .allgame .filter {
    padding: 0 20px;
    gap: 2px;
  }
  .allgame .filter .bar.search input {
    width: 120px;
  }
}

@media screen and (max-width: 442px) {
  .allgame .filter {
    padding: 10px 20px;
    gap: 10px 0;
    flex-wrap: wrap;
  }
  .allgame .filter .bar .icon {
    margin-top: 5px;
  }
  .allgame .filter .bar.search{
    width: 100%;
    min-height: 45px;
  }

  .allgame .filter .bar.search input{
    width: 100%;
    border-radius: 15px;
  }
}
