.games .title{
    font-weight: 200;
    color: var(--text_10);
}

.games .gamelist{
    display: flex;
    width: 85%;
    margin-top: 8px;
    margin-left: -5px;
    margin-bottom: 10px;
}

.games  .gamelist .box{
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.games  .gamelist .box:hover img{
    filter: brightness(20%);
    transition: var(--transition03);
}
.games  .gamelist .box:hover p{
    opacity: 1;
    transition: var(--transition03);

}

.games  .gamelist .box p{
    color: var(--text_8);
    position: absolute;
    font-weight: 600;
    opacity: 0;
    transition: var(--transition03);
}

.games .gamelist img{
    width: 180px;
    height: 190px;
    margin-bottom: 8px;
    object-fit: cover;
    border: 3px solid var(--black);
    background-color: var(--skeleton);
    filter: brightness(90%);
    transition: var(--transition03);

}