.games .title {
  font-weight: 200;
  color: var(--text_10);
}

.games .gamelist {
  display: flex;
  width: 85%;
  margin-top: 8px;
  margin-left: -5px;
  margin-bottom: 10px;
}

.games .gamelist .box {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.games .gamelist .box:hover .display {
  filter: brightness(20%);
  transition: var(--transition03);
}
.games .gamelist .box:hover p {
  opacity: 1;
  transition: var(--transition03);
}

.games .gamelist .box p {
  color: var(--text_8);
  position: absolute;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition03);
}

.games .gamelist .display {
  width: 180px;
  height: 190px;
  margin-bottom: 8px;
  object-fit: cover;
  /* border: 3px solid rgb(45, 45, 45); */
  background-color: var(--skeleton);
  filter: brightness(90%);
  transition: var(--transition03);
}

.games .gamelist .skeleton .display {
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  animation: skeletonAnimation 2.5s infinite linear;
}

/* TYPE2 */

.type2 {
  margin-top: 20px;
}

.type2 .title{
  font-weight: 600;
  color: var(--text_8);
  font-size: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 23px;
}

.type2 .gamelist .swiper-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.type2 .gamelist .box,
.type2 .gamelist .skeleton {
  width: 300px !important;
}

.type2 .gamelist .box .display
{
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.type2 .gamelist .box .title{
  font-weight: 500;
  padding: 0;
  color: var(--text_8);
  margin-top: 10px;
  font-size: 18px;
}
.type2 .gamelist .box .description{
  font-weight: 300;
  padding: 0;
  color: var(--text_8);
  letter-spacing: 1px;
  margin-top: -6px;
}


.type2 .gamelist .skeleton .display {
  width: 100%;
  height: 340px;
  background-color: var(--skeleton);
  filter: brightness(90%);
  transition: var(--transition03);
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  animation: skeletonAnimation 2.5s infinite linear;
}

.type2 .gamelist .skeleton .title{
  width: 100%;
  height: 40px;
  background-color: var(--skeleton);
  filter: brightness(90%);
  transition: var(--transition03);
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  margin-top: 8px;
  animation: skeletonAnimation 2.5s infinite linear;
}


.type2 .gamelist .skeleton .description{
  width: 100%;
  height: 40px;
  background-color: var(--skeleton);
  filter: brightness(90%);
  transition: var(--transition03);
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  animation: skeletonAnimation 2.5s infinite linear;
  margin-top: -8px;
} 