/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 105px;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: var(--primary);
  background-color: transparent;
  transition: 0.2s;
}

.navbar.nav-scrolled{
  /* background-color: transparent;
  background-color: rgba(63, 62, 62, 0.596); */
  background-color: var(--primary);
  /* border-bottom: 1px solid var(--text_8); */
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.navbar .content{
  display: flex;
  padding: 0 35px 0 10px;
}

.navbar .title {
  font-size: 32px;
  color: var(--text_10);
  cursor: pointer;
  margin-top: 5px;
}

.navbar .c-title{
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-right: -16px;
  background-image: url(../Images/logocenter192_white.png);
  background-size: cover;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 32px;
}

.navbar ul li {
  list-style: none;
  font-size: 15.5px;
  cursor: pointer;
  color: var(--text_8);
}

.navbar ul li a,
.icon {
  color: var(--text_8);
}

.navbar .navbar-left {
  flex-grow: 1;
}

.navbar .navbar-left .icon {
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  color: var(--text_8);
}

.navbar .navbar-right {
  gap: 8px;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  justify-content: end;
}
.navbar .navbar-right li {
  font-size: 16px;
  margin-left: 5px;
}

.navbar .navbar-right li .buttons{
  display: flex;
  gap: 5px;
}
.navbar .navbar-right li .buttons p{
  color: var(--text_8);
}

.navbar .navbar-right li .href{
  letter-spacing: -0.2px;
  cursor: pointer;
  transition: 0.2s;
}
.navbar .navbar-right li .href:hover{
  color: var(--text_10);
}
.navbar .navbar-right .icon {
  width: 30px;
  font-size: 23px;
  color: var(--text_8);
}

.navbar .navbar-right .humberger {
  display: none;
}

.navbar .navbar-right .icon.globe{
  cursor: pointer;
  height: 23px;
  width: 23px;
  background-image: url(../Images/Globe.png);
  background-size: cover;
}



/* ----------------NAVBAR RESPONSIVE---------- */
.navbar-responsive{
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  background-color: var(--primary);
  transition-duration: 0.3s;
  transition-property: opacity;
  pointer-events: all;

}

.navbar-responsive.hidden{
  opacity: 0;
  pointer-events: none;
}

.navbar-responsive .navbar-top{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  padding-right: 10px;
}

.navbar-responsive .navbar-top .account{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 12px;
  height: 40px;
  background-color: var(--secondary_2);
  gap: 10px;
  font-size: 15px;
}
.navbar-responsive .navbar-top .account p{
  color: var(--text_8);
}

.navbar-responsive .navbar-top .account .icon{
  font-size: 16px;
}

.navbar-responsive .navbar-top .icon{
  font-size: 25px;
}

.navbar-responsive .navbar-bottom{
  /* background-color: red; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

.navbar-responsive .navbar-bottom *{
  color: var(--text_8);
}

.navbar-responsive .navbar-bottom li{
  background-color: var(--secondary_2);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
}

.navbar-responsive .navbar-bottom li.selected{
  background-color: var(--secondary_2);
}


.navbar-responsive .search-container{
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}
.navbar-responsive .search-container input{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: var(--secondary);
  font-size: 18px;
  padding-left: 20px;
}
.navbar-responsive .search-container input::placeholder {
  color: var(--text_8);
  opacity: 1; /* Firefox */
}

.navbar-responsive .search-container input::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--text_8);
}






/* ------------CUSTOM RIGHT CLICK--------------- */
.navbar-content{
  position: relative;
}
.account-detail {
  color: var(--white);
  width: fit-content;
  position: absolute;
  z-index: 2;
  right: 0;
  margin-right: 30px;
  margin-top: 35px;
}
.account-detail.hidden{
  display: none;
}

.account-detail{
  width: 230px;
  min-height: 60px;
  background-color: var(--secondary_2);
  border: 2px solid var(--secondary_3);
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.account-detail .title-dropdown{
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--text_8);
  border-bottom: 2px solid var(--secondary);
  padding: 20px 10px;
}

.account-detail .button{
  color: var(--text_8);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;

}

.account-detail .button:hover{
  background-color: var(--secondary);
}



/* ------------CUSTOM RIGHT CLICK  TRANSLATOR--------------- */

.translate-detail {
  color: var(--white);
  width: fit-content;
  position: absolute;
  z-index: 2;
  right: 0;
  margin-right: 160px;
  margin-top: 45px;
}
.translate-detail.hidden{
  display: none;
}

.translate-detail{
  width: 230px;
  min-height: 60px;
  background-color: var(--secondary_2);
  border: 2px solid var(--secondary_3);
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.translate-detail .title-dropdown{
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--text_8);
  border-bottom: 2px solid var(--secondary);
  padding: 20px 10px;
}

.translate-detail .button{
  color: var(--text_8);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;

}

.translate-detail .button:hover{
  background-color: var(--secondary);
}

.logoutButton{
  width: 100%;
  max-width: 300px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: var(--secondary_3);
  color: var(--text_8);
}

.language-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}


.language-menu.hide{
  opacity: 0;
  pointer-events: none;
}

.language-menu h2{
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.language-menu p{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text_8);
  cursor: pointer;
}

.language-menu p:hover{
  color: var(--text_10);
}

.language-menu .x-mark{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
}