/* Page1 */
.page1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page1 .leftside {
  width: 50%;
  height: 500px;
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
}

.page1 .rightside {
  width: 50%;
  height: 500px;
  padding-top: 60px;
}

.page1 .display-1 {
  width: 360px;
  height: 500px;
  background-color: var(--primary);
  border: 6px solid rgb(30, 30, 30);
}
.page1 .display-2 {
  width: 360px;
  height: 500px;
  left: 0;
  margin-left: 255px;
  margin-top: 40px;
  position: absolute;
  background-color: var(--secondary);
  border: 6px solid rgb(30, 30, 30);
}

/* PAGE2 */
.page2 {
  width: 100%;
  min-height: 500px;
  padding: 250px 70px 20px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page2 .title {
  font-size: 22px;
  font-weight: 300;
  width: 100%;
  color: var(--text_8);
  padding-left: 10px;
}

.page2 .gamegrid {
  display: flex;
  gap: 6px 18px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.page2 .gamegrid .box {
  width: 350px;
  height: 95px;
  flex-grow: 1;
  background-color: var(--secondary_2);
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

.page2 .gamegrid .box-skeleton{
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  animation: skeletonAnimation 2.5s infinite linear;
  justify-content: end;
}

.page2 .gamegrid .box-skeleton .display{
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, transparent, var(--skeleton), transparent);
  background-size: 200% 100%;
  animation: skeletonAnimation 2.5s infinite linear;
}

.page2 .gamegrid .box .display {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.page2 .gamegrid .box .data {
  flex-grow: 1;
  padding: 15px;
}

.page2 .gamegrid .box .data p {
  font-size: 18px;
  color: var(--text_8);
  font-size: 17px;
}

.page2 .gamegrid .box .data .platforms img {
  margin-top: 8px;
  margin-right: 10px;
  color: var(--text_8);
}

.page2 .small-button {
  width: 145px;
  height: 44px;
  font-size: 12px;
  background-color: var(--skeleton);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text_9);
  margin-top: 35px;
  cursor: pointer;
}

.page3 {
  padding: 100px 50px;
}

.page3 .games {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}



.page3 .gamelist {
  width: 100% !important;
}

.page3 .games .title {
  width: 100%;
  margin-left: 20px;
}

.page3 .games .gamelist{
}

.page3 .games .gamelist .box .display,
.page3 .games .gamelist .skeleton .display{

}

/* Page4 */

.page4 {
  height: 600px;
  display: flex;
}

.page4 .background {
  left: 0;
  position: absolute;
  width: 100vw;
  height: 600px;
  background-color: var(--primary);
  z-index: -1;
}

.page4 .data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page4 .data .title {
  color: var(--text_9);
  font-size: 22px;
}

.page4 .data .row {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.page4 .data .row .trailer {
  width: 700px;
  height: calc(730px * 9 / 16);
  object-fit: cover;
}

.page4 .side {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page4 .side .box {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.page4 .side.right-side .box {
  align-items: end;
}

.page4 .side .box img {
  width: 70px;
  height: 70px;
}

.page4 .side .box p {
  margin-top: 5px;
  color: var(--text_8);
}

/* Page5 */

.page5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
  justify-content: center;
}
